<div *ngIf="loading" id="myModal" class="modal">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="table table-striped table-hover">
  <div class="search">
    <input
      type="text"
      placeholder="Search name"
      [(ngModel)]="searchName"
      (ngModelChange)="search()"
    />
    <input
      type="text"
      placeholder="Search email"
      [(ngModel)]="searchEmail"
      (ngModelChange)="search()"
    />
    <input
      type="text"
      placeholder="Search address"
      [(ngModel)]="searchAdd"
      (ngModelChange)="search()"
    />

    <select (change)="search()" [(ngModel)]="searchGen">
      <option value="">Gender</option>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
    <button
      mat-button
      type="button"
      class="btn btn-success"
      (click)="openAddAccount()"
    >Add
    </button>
  </div>
  <app-table-data
    [account]="account"
    [columns]="columns"
    [page]="page"
    [loading]="loading"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    (clickEdit)="openEdit($event)"
    (clickDelete)="delete($event)"
    (clickAdd)="openAddAccount()"
    (clsortByAge)="sortByAge()"></app-table-data>
  <div class="pagination">
    <pagination-controls
      (pageChange)="page = $event"
      (pageBoundsCorrection)="page = $event"
    ></pagination-controls>
  </div>
</div>
